<div class="px-1 py-1 col-lg-4 col-md-6 col-sm-10" id="requested_card">
<div class="card shadow-sm text-center border-warning uk-animation-slide-top-small" id="{{0.id}}" style="background-color:#{{0.custom_2}}">
    <div class="lead mt-2">#{{0.custom_2}}</div>
    <h5 class="card-title mt-3">{{0.user.name}} - {{0.account.name}}</h5>
    <p>Requested Date: {{0.requested_date}}</p>
 <div class="card-body">
     <a class="btn btn-outline-primary btn-sm shadow-sm" uk-icon="icon: check" href="#modal-sections{{0.custom_2}}" uk-toggle>Proceed</a>
     <a class="btn btn-sm btn-warning shadow-sm" href="#modal-container{{0.custom_2}}" uk-toggle>Notes</a>
     {{#if 0.file}}
        <a href="/pdf/{{0.file}}" class="btn btn-success btn-sm shadow-sm">Label File #1</a>
        {{#if 0.file_2}}
        <a href="/pdf/{{0.file_2}}" class="btn btn-success btn-sm shadow-sm">File #2</a>
        {{/if}}
    {{else}}
        <a href="" class="btn btn-danger btn-sm shadow-sm">No File</a>
    {{/if}}
</div>

<ul uk-accordion="multiple: true">
    <li class="uk-close">
        <a class="uk-accordion-title"></a>
        <div class="uk-accordion-content">
            <table class="uk-table uk-table-small uk-table-divider myTable" id="myTable">
                <thead>
                    <tr>
                        <th>Container#</th>
                        <th>Content</th>
                        <th>Location</th>
                    </tr>
                </thead>
                 <tbody>
                {{#each this as |item|}}
                    {{> card-content-confirm item }}
                {{/each}}
                 <tbody>
            </table>
         <a class="btn btn-primary btn-sm" uk-icon="icon: check" href="#modal-sections{{0.custom_2}}" uk-toggle>Proceed</a>
        </div>
    </li>
</ul>
</div>
</div>


<div id="modal-container{{0.custom_2}}"  uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h4 class="lead">Notes ({{0.fba}}):</h4>
        <p>{{0.notes}}</p>
    </div>
</div>


<div id="modal-sections{{0.custom_2}}" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-body">
            <label class="uk-form-label" for="description">Admin Notes (if any):</label><br>
            <input class="uk-input uk-width-1-2" type="text" placeholder="All tasks completed; shipped." id="input{{0.custom_2}}">
        </div>
        <div class="uk-modal-footer uk-text-right">
            <a class="btn btn-primary btn-sm" onclick="statusChange(null,`{{0.custom_2}}`)">Confirm</a>
        </div>
    </div>
</div>
