<tr scope="row">
  <td><input class="uk-checkbox" type="checkbox" disabled /></td>
  <td id="{{account_id}}">{{account.name}}</td>
  <td class="text-primary">{{box_number}}</td>
  <td>{{location}}</td>
</tr>
