<tr scope="row">
    <td><input class="uk-checkbox" type="checkbox" disabled></td>
    <td id="{{0.account_id}}">{{0.account.name}}</td>
    <td class="text-primary" id="{{0.container_id}}">{{0.container.container_number}}</td>
    <td>
        {{#each this as |sku|}}
            {{> dq_eachsku sku }}
        {{/each}}
    </td>
    <td>{{0.container.location}}</td>
</tr>
