<tr scope="row">
    <td><input class="uk-checkbox" type="checkbox" disabled></td>
    <td id="{{0.account_id}}">{{0.account.name}}</td>
    <td class="text-primary">{{0.item_number}}</td>
    <td>
        <div class="container row">
        {{#each this as |container|}}
            {{> dq_eachcontainer_admin container }}
        {{/each}}
        </div>
    </td>
</tr>
