
<div class="px-1 py-1 col-4 " id="requested_card">
<div class="card bg-light shadow-sm" id="{{0.custom_1}}">
    <h5 class="card-title mt-3">Request from {{0.user.name}}</h5>
    <h6>Acct: {{0.account.name}}</h6>
    <p>Requested Date: {{0.requested_date}}</p>
 <div class="card-body">
     <a href="#" class="btn btn-outline-primary btn-sm" onclick="pre_ship_scan({{0.custom_1}})">Proceed</a>
     {{#if 0.file}}
        <a href="/pdf/{{0.file}}" class="btn btn-success btn-sm">PDF File</a>
    {{else}}
        <a href="" class="btn btn-danger btn-sm">No File</a>
    {{/if}}
</div>

<ul uk-accordion="multiple: true">
    <li class="uk-close">
        <a class="uk-accordion-title" href="#"></a>
        <div class="uk-accordion-content">
         <table class="uk-table uk-table-small uk-table-divider myTable" id="myTable">
            <thead>
                <tr>
                    <th>Box Number</th>
                    <th>Box Order</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                {{#each this as |obj|}}
                    {{> card-content obj }}
                {{/each}}
            <tbody>
         </table>
         <a href="#" class="btn btn-primary btn-sm" onclick="pre_ship_scan({{0.custom_1}})">Proceed</a>
        </div>
    </li>
</ul>


</div>
</div>
