<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dapeng Logistics</title>
    <link rel="icon" type="image/png type" sizes="32x32" href="/media/logo.jpeg">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
{{!-- uikit attachments --}}
    <link rel="stylesheet" href="/css/uikit/uikit.min.css"/>
    <script src="/javascript/uikit/uikit.min.js"></script>
    <script src="/javascript/uikit/uikit-icons.min.js"></script>
{{!-- bootstrap --}}
    <script src="/javascript/bootstrap/bootstrap.bundle.min.js"></script>
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
{{!-- jquery --}}
    <script src="/javascript/jquery.js"></script>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/print_setting.css">
</head>
<body>
{{#if loggedIn}}
   <nav class="uk-navbar-container uk-margin uk-navbar-attached" id="nav_bar" uk-navbar>
        <div class="uk-navbar-center">

            <div class="uk-navbar-center-left"><div>
                <ul class="uk-navbar-nav">
{{#if admin}}
                    {{!-- <li class="uk-active">
                        <a href="/admin" uk-icon="icon: home">Home</a>
                    </li> --}}

                    <li>
                        <a href="/admin_move_main" uk-tooltip="出货通知"><b>Shipping</b> Queue</a>
                    </li>

                    <li>
                        <a href="/admin_receiving_main" uk-tooltip="海外货品接收"><b>Receiving</b> Quene</a>
                    </li>

                    <li>
                        <a href="/box_location" onclick="resetLocalStorage()" uk-tooltip="载入货架"><b>Allocation</b> Queue</a>
                    </li>
{{else}}

                    <li class="create_order" onclick="accountList()"><a href="#createneworder" uk-toggle><b>Create</b> shipment 新订单</a></li>
                                <div id="createneworder" uk-modal>
                                    <div class="uk-modal-dialog">

                                        <button class="uk-modal-close-default" type="button" uk-close></button>

                                        <div class="uk-modal-header uk-background-muted uk-text-center">
                                            <h4 class="uk-modal-title">Account Options<br><small>帐户名选择</small></h4>
                                        </div>
                                            <p class="uk-margin-medium-left uk-margin-medium-right uk-margin-medium-top uk-margin-medium-bottom">Before creating a new shipment, please select an existed account to where the new order will be assigned. If you would like to create a new account, select "Create New Account" and continue. <br><small>创造新订单前，请选择一个已注册帐户，如欲创立新帐户名，选择“create new account”然后“确认”。</small></p>
                                        <form class="uk-form-horizontal uk-margin-small uk-margin-small-left">
                                            <div class="uk-margin">
                                                <label class="uk-form-label" for="form-horizontal-select"><span uk-icon="icon: user"></span>USER: {{name}}</label>
                                                <div class="uk-form-controls uk-form-width-medium">
                                                    <select class="uk-select accountList" id="accountList">
                                                        <option>Create New Account</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="uk-modal-footer uk-text-right">
                                                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                                                <a class="uk-button uk-button-primary" id="account_selection" uk-icon="icon:  arrow-right" href="/neworder">Continue(确认)</a>
                                            </div>
                                        </form>

                                    </div>
                                </div>

                    <li><a href="/client_label"><b>Pending</b> Orders 总挂单</a></li>
{{/if}}
                </ul>
            </div>
            </div>

            <a class="uk-navbar-item uk-logo" href="/" uk-tooltip="回到主页"><img src="https://dapengwh.com/wp-content/uploads/2021/03/panpan-0-1.png" style="width: 185px;" alt="logo">

                {{!-- <div class="dropdown-content">
                    <div class="text-dark" href="#">大鹏库存</div>
                </div> --}}

            </a>
            <div class="uk-navbar-center-right">
                <ul class="uk-navbar-nav">
{{#if admin}}
                    <li>
                        <a href="/amazon_receiving" uk-tooltip="亚马逊货品接收"><b>Amazon</b></a>
                    </li>

                    <li><a class="logout" uk-icon="icon: sign-out">Log Out</a></li>
{{else}}
                    <li><a href="/request"><b>Request</b>  Ship-out 总出货</a></li>
                    <li><a class="logout" uk-icon="icon: sign-out">Log Out 登出</a></li>
{{/if}}
                </ul>
            </div></div>
        </div>
    </nav>
{{/if}}
<small id="session_timer"></small>
    <main>
      {{{body}}}
    </main>

{{#if loggedIn}}
<script src="javascript/main.js"></script>
<script src="javascript/logout.js"></script>
<script>
    console.log('The timer is initiated for 30 minutes.');
    $(document).ready(function() {
        checkActivity(1800000, 60000, 0); // timeout = 30 minutes, interval = 1 minute.
    });

    function checkActivity(timeout, interval, elapsed) {
        if (elapsed < timeout) {
            const lastMinute = (timeout - elapsed);
            elapsed += interval;
            setTimeout(function() {
                checkActivity(timeout, interval, elapsed);
            }, interval);
            console.log(lastMinute/interval);
            if(lastMinute == interval) {
                if(confirm('页面将在50秒后自动登出，如果仍在使用此页面，请按ok。Still using the page? If so, please press OK. Otherwise, the session will expire in 50 seconds.')) {
                    const promisesForAction = [];
                    promisesForAction.push(serverGoAround());
                    Promise.all(promisesForAction).then(() => {
                        timeout = 1800000 - interval;
                        elapsed = 0;
                        console.log('The timer is reset back to 30 minutes.');
                        console.log((timeout + interval)/interval);
                    }).catch((e) => {console.log(e)})
                } else {
                    document.getElementById('session_timer').innerHTML = `<div class='text-danger text-center'>页面将在50秒之后转跳。<br>The session expires in 50 seconds.</div>`
                }
            }
        } else {
        // Redirect to "session expired" page. --}}
           window.location.reload();
        }
    };
    async function serverGoAround() {
        const response = await fetch(`/api/user/serverGoAround`, {
        method: 'GET'
        }).then(function (response) {
        return response.json();
        })
    };
</script>
{{/if}}
</body>
</html>
