<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.11.1/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.11.1/dist/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.11.1/dist/js/uikit-icons.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/print_setting.css">
    <title>Dapeng Logistics</title>
</head>
<body>
{{#if loggedIn}}
   <nav class="uk-navbar-container uk-margin uk-navbar-attached" id="nav_bar" uk-navbar>
        <div class="uk-navbar-center">

            <div class="uk-navbar-center-left"><div>
                <ul class="uk-navbar-nav">
{{#if admin}}
                    {{!-- <li class="uk-active">
                        <a href="/admin" uk-icon="icon: home">Home</a>
                    </li> --}}

                    <li>
                        <a href="/admin_move_main"><b>Shipping</b> Queue</a>
                    </li>

                    <li>
                        <a href="/admin_receiving_main"><b>Receiving</b> Quene</a>
                    </li>

                    <li>
                        <a href="/box_location" onclick="resetLocalStorage()"><b>Allocation</b> Queue</a>
                    </li>
{{else}}

                    <li class="create_order" onclick="accountList()"><a href="#createneworder" uk-toggle><b>Create</b> shipment 新订单</a></li>
                                <div id="createneworder" uk-modal>
                                    <div class="uk-modal-dialog">

                                        <button class="uk-modal-close-default" type="button" uk-close></button>

                                        <div class="uk-modal-header uk-background-muted uk-text-center">
                                            <h4 class="uk-modal-title">Account Options<br><small>帐户名选择</small></h4>
                                        </div>
                                            <p class="uk-margin-medium-left uk-margin-medium-right uk-margin-medium-top uk-margin-medium-bottom">Before creating a new shipment, please select an existed account to where the new order will be assigned. If you would like to create a new account, select "Create New Account" and continue. <br><small>创造新订单前，请选择一个已注册帐户，如欲创立新帐户名，选择“create new account”然后“确认”。</small></p>
                                        <form class="uk-form-horizontal uk-margin-small uk-margin-small-left">
                                            <div class="uk-margin">
                                                <label class="uk-form-label" for="form-horizontal-select"><span uk-icon="icon: user"></span>USER: {{name}}</label>
                                                <div class="uk-form-controls uk-form-width-medium">
                                                    <select class="uk-select accountList" id="accountList">
                                                        <option>Create New Account</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="uk-modal-footer uk-text-right">
                                                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                                                <a class="uk-button uk-button-primary" id="account_selection" uk-icon="icon:  arrow-right" href="/neworder">Continue(确认)</a>
                                            </div>
                                        </form>

                                    </div>
                                </div>

                    <li><a href="/client_label"><b>Pending</b> Orders 挂单</a></li>
{{/if}}
                </ul>
            </div>
            </div>

            <a class="uk-navbar-item uk-logo" href="/" ><img src="https://dapengwh.com/wp-content/uploads/2021/03/panpan-0-1.png" style="width: 185px;" alt="logo">

                {{!-- <div class="dropdown-content">
                    <div class="text-dark" href="#">大鹏库存</div>
                </div> --}}

            </a>
            <div class="uk-navbar-center-right">
                <ul class="uk-navbar-nav">
{{#if admin}}
                    {{!-- <li>
                        <a href="/admin_amazon">Amazon<span class="uk-icon uk-icon-image" style="background-image: url(img/Amazon_icon.svg);"></span></a>
                    </li>

                    <li>
                        <a href="/admin_return" uk-icon="icon: refresh" >Return</a>
                    </li> --}}
                    <li><a class="logout" uk-icon="icon: sign-out">Log Out</a></li>
{{else}}
                    <li><a href="/request"><b>Request</b>  Ship-out 出货</a></li>
                    <li><a class="logout" uk-icon="icon: sign-out">Log Out 登出</a></li>
{{/if}}
                </ul>
            </div></div>
        </div>
    </nav>
{{/if}}

    <main>
      {{{body}}}
    </main>

{{#if loggedIn}}
<script src="javascript/main.js"></script>
<script src="javascript/logout.js"></script>
{{/if}}
</body>
</html>
