
@page {
    size: 4in 4in;
    margin: none;
  }

@media print {
    #nav_bar {
        display: none;
    }
    #barcode_btn {
        display: none;
    }
    #box_bar {
        page-break-before: always;
    }
}
