{{#if admin}}
<link rel="stylesheet" href="../css/loader.css">
    <p class="uk-heading-line uk-text-right uk-margin-small-right"><span>logged in as <span class="uk-text-bold uk-label uk-label-success">{{name}}</span></span></p>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Pending Count: <span id="pending_c"></span> </li>
                <li class="breadcrumb-item active">Inventory Count: <span id="inventory_c"></span> </li>
             </ol>
        </nav>
  <div class="uk-child-width-expand@s" uk-grid>
    <div class="uk-grid-item-match">
          <div class="uk-card uk-card-default uk-card-body uk-width-1-3@m rounded">
            <h3 class="lead" onclick="reset()" uk-tooltip="title: click to reset 重置; pos: top-left"><b>Master Functions</b></h3>
            <a class="btn btn-outline-warning btn-sm shadow-sm mt-1" href="/admin/master_page">Home Page</a>
            <a class="btn btn-sm btn-outline-info shadow-sm mt-1" href="/billing" uk-tooltip="title:帐簿; pos: bottom"><b>₿</b>illing</a>
            <a class="btn btn-sm btn-outline-success shadow-sm mt-1" href="/merger" uk-tooltip="title:账户合并; pos: bottom">Merger</a>
            <a class="btn btn-sm btn-outline-danger shadow-sm mt-1" id="edit_btn" onclick="passcode('s')" uk-tooltip="title: 更改货品状态、收纳旧货品、或删除货品; pos: bottom">Edit/ Del</a>
            <a class="btn btn-sm btn-outline-primary shadow-sm mt-1" id="update_btn" onclick="passcode('d')" uk-tooltip="title: 更改货品状态日期（⚠️ 日期变更会影响存货计费）; pos: bottom">Redate</a>
            <select name="edit_selection" id="edit_select" class="uk-select uk-form-danger rounded uk-form-small uk-form-width-small mt-1" style="display: none;" onchange="preChangeConfirm()" uk-tooltip="update new STATUS to boxes">
              <option value="">Select...</option>
              <option value="0">Status: Pending</option>
              <option value="1">Status: Received</option>
              <option value="2">Status: Requested</option>
              <option value="3">Status: Shipped</option>
              <option value="4">Status: Pre-billed (additional charge)</option>
              <option value="5">Status: Billed (additional chagre)</option>
              <option value="98">Archive</option>
              <option value="99">Delete</option>
            </select>

             <select name="edit_selection" id="update_select" class="uk-select uk-form-primary rounded uk-form-small uk-form-width-small mt-1" style="display: none;" onchange="preUpdateConfirm()" uk-tooltip="update new status DATE to boxes">
              <option value="">Select...</option>
              <option value="pending_date">Pending Date</option>
              <option value="received_date">Received Date</option>
              <option value="requested_date">Requested Date</option>
              <option value="shipped_date">Shipped Date</option>
              <option value="bill_received">Billing Date (receiving)</option>
              <option value="bill_storage">Billing Date (storage)</option>
              <option value="bill_shipped">Billing Date (shipping)</option>
            </select>
            <div id="update_date_btn" style="display: none;">
              <input type="date" id="update_date_select" class="uk-input uk-form-primary rounded uk-form-small uk-form-width-small mt-1" placeholder='mm/dd/yyyy'>
              <button class='btn btn-sm btn-primary mt-1' onclick="finalConfirmation()" uk-icon="check"></button>
            </div>
          </div>

          {{!-- <div class="uk-card bg-light shadow-sm ml-1 uk-card-body uk-width-2-3@m rounded border-dark">
              <h3 class="uk-text-default">Client Message:</h3>
          </div> --}}
    </div>
  </div>

  <div class="badge alert-success" id="badge" onclick="modeChange()"><span id="mode">C</span> Mode</div>
  <form class="uk-search uk-search-large" id="boxInput">
    <span uk-search-icon></span>
    <input class="uk-search-input" type="search" placeholder="China Box Search" id="myBoxInput" onkeyup="box_searching()">
  </form>
  <form class="uk-search uk-search-large" id="containerInput" style="display: none;">
    <span uk-search-icon></span>
    <input class="uk-search-input" type="search" placeholder="Amazon Box Search" id="myContainerInput" onkeyup="container_searching()">
  </form>
</div>
{{!-- loader --}}
    <div id="loader" style="display: none;">
      <h1 class="text-center">Updating <span id="numberOfItems"></span>...</h1>
      <div class="loader container"></div>
    </div>

{{!-- notes --}}
    <div class="container" id="boxTable" style="display: none;">
      <small id="searchNote" class="text-primary"></small>

{{!-- box table --}}
      <table class="uk-table uk-table-small uk-table-divider text-center bg-light shadow">
            <thead>
                <tr>
                    <th>Client</th>
                    <th>Account</th>
                    <th>Box number</th>
                    <th >Item Description</th>
                    <th>Box</th>
                    <th>of Box</th>
                    <th>Qty per Box</th>
                    <th>Location</th>
                    <th>Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody id="boxBody">
            </tbody>
      </table>
    </div>

    <div class="container" id="containerTable" style="display: none;">
      <small id="containerSearchhNote" class="text-primary"></small>
{{!-- contianer table --}}
      <table class="uk-table uk-table-small uk-table-divider text-center bg-light shadow">
            <thead>
                <tr>
                    <th>Client</th>
                    <th>Account</th>
                    <th>Box number</th>
                    <th>Item</th>
                    <th>Qty per Box</th>
                    <th>Location</th>
                    <th>Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody id="containerBody">
            </tbody>
      </table>
    </div>
</div>

<script src="../javascript/admin_homepage.js"></script>
{{else}}
<script src="javascript/client_redirect.js"></script>
<img class="uk-align-center" src="https://i0.wp.com/wirthconsulting.org/wp-content/uploads/2018/02/forbidden1.jpg?w=346&ssl=1" alt="">
{{/if}}
