{{#if admin}}
  <link rel="stylesheet" href="../css/loader.css" />
  <link rel="stylesheet" href="../css/dashboard.css" />
  <div class="uk-heading-line uk-text-right uk-margin-small-right">
    <div>
      <a href="#modal-full" uk-toggle uk-icon="icon: database; ratio: 1.5" uk-tooltip="record logs" class="px-1"></a>
      <a href="/admin/sku_modification" uk-icon="icon: cloud-upload; ratio: 1.5" uk-tooltip="sku files upload"></a>
    </div>
  </div>
  <div id="modal-full" class="uk-modal-full" uk-modal>
    <div class="uk-modal-dialog">
      <button
        class="uk-modal-close-full uk-close-large"
        type="button"
        uk-close
      ></button>
      <div class="uk-grid-collapse uk-flex-middle" uk-grid>
        <div class="uk-padding-large text-center">
          <h1 class="lead"><b>Record Logs</b></h1>
          <input type="number" placeholder="100" class="text-center" id="logNumber" value="100">
          <br>
          <span id="clock" class="mb-2"></span>
          <table
            class="table table-sm table-striped mt-2 mb-2"
            style="table-layout: fixed; width: 100%"
          >
            <thead>
              <tr style="word-wrap: break-word">
                <th scope="col">User</th>
                <th scope="col">Ref_Number</th>
                <th scope="col">Sub_Number</th>
                <th scope="col">Action</th>
                <th scope="col">Action Notes</th>
                <th scope="col">Qty</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody id="log_body">
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">Pending Count:
          <span id="pending_c"></span>
        </li>
        <li class="breadcrumb-item active">Inventory Count:
          <span id="inventory_c"></span>
        </li>
      </ol>
    </nav>
    <div
      class="uk-child-width-expand@s uk-card-body uk-animation-slide-left-small"
      uk-grid
    >
      <div class="uk-grid-item-match">
        <div
          class="uk-card uk-card-default uk-card-body uk-width-1-3@m rounded"
          id="masterFunctionGroup"
        >
          <h3
            class="lead"
            onclick="reset()"
            uk-tooltip="title: click to reset 重置; pos: top-left"
          ><b>Master Functions</b></h3>
          <a
            class="btn btn-outline-warning btn-sm shadow-sm mt-1"
            href="/admin/master_page"
            id="homepage"
          >Home Page</a>
          <button
            class="btn btn-sm btn-outline-dark shadow-sm mt-1"
            uk-toggle="target: #modal-skuSearch"
            onclick="clientListing()"
            uk-tooltip="只限搜寻亞马逊回流货物"
          >SKU Search</button>
          <a
            class="btn btn-sm btn-outline-info shadow-sm mt-1"
            href="/billing"
            uk-tooltip="title:帐簿; pos: bottom"
          ><b>₿</b>illing</a>
          <a
            class="btn btn-sm btn-outline-success shadow-sm mt-1"
            href="/merger"
            uk-tooltip="title:账户合并; pos: bottom"
          >Merger</a>
          <a
            class="btn btn-sm btn-outline-light shadow-sm mt-1 text-secondary"
            href="/client_service"
            uk-tooltip="title:设定; pos: bottom"
          >Setting</a>
          <a
            class="btn btn-sm btn-outline-danger shadow-sm mt-1"
            id="edit_btn"
            onclick="passcode('s')"
            uk-tooltip="title: 更改货品状态、收纳旧货品、或删除货品; pos: bottom"
          >Edit/ Del</a>
          <a
            class="btn btn-sm btn-outline-primary shadow-sm mt-1"
            id="update_btn"
            onclick="passcode('d')"
            uk-tooltip="title: 更改货品状态日期（⚠️ 日期变更会影响存货计费）; pos: bottom"
          >Redate</a>
          <select
            name="edit_selection"
            id="edit_select"
            class="uk-select uk-form-danger rounded uk-form-small uk-form-width-small mt-1"
            style="display: none;"
            onchange="preChangeConfirm()"
            uk-tooltip="update new STATUS to boxes"
          >
            <option value="">Select...</option>
            <option value="0">Status: Pending</option>
            <option value="1">Status: Received</option>
            <option value="2">Status: Requested</option>
            <option value="3">Status: Shipped</option>
            <option value="4">Status: Pre-billed (additional charge)</option>
            <option value="5">Status: Billed (additional chagre)</option>
            <option value="98">Archive</option>
            <option value="99">Delete</option>
          </select>

          <select
            name="edit_selection"
            id="update_select"
            class="uk-select uk-form-primary rounded uk-form-small uk-form-width-small mt-1"
            style="display: none;"
            onchange="preUpdateConfirm()"
            uk-tooltip="update new status DATE to boxes"
          >
            <option value="">Select...</option>
            <option value="pending_date">Pending Date</option>
            <option value="received_date">Received Date</option>
            <option value="requested_date">Requested Date</option>
            <option value="shipped_date">Shipped Date</option>
            <option value="bill_received">Billing Date (receiving)</option>
            <option value="bill_storage">Billing Date (storage)</option>
            <option value="bill_shipped">Billing Date (shipping)</option>
          </select>
          <div id="update_date_btn" style="display: none;">
            <input
              type="date"
              id="update_date_select"
              class="uk-input uk-form-primary rounded uk-form-small uk-form-width-small mt-1"
              placeholder="mm/dd/yyyy"
            />
            <button
              class="btn btn-sm btn-primary mt-1"
              onclick="finalConfirmation()"
              uk-icon="check"
            ></button>
          </div>
        </div>
        <div
          class="uk-card bg-light shadow-sm ml-1 uk-card-body uk-width-2-3@m rounded border-dark"
          id="info_dashbaord"
        >
          <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">User</th>
                <th scope="col">Number</th>
                <th scope="col">Action</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody id="record_dashboard">
            </tbody>
          </table>
        </div>
      </div>
    </div>

    {{! modal- for sku search ***********************}}
    {{! search form }}
    <div id="modal-skuSearch" uk-modal>
      <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
          <a href="#modal-bulkSearch" uk-toggle><h2
              class="lead text-center"
              onclick="resetBulkResult()"
            >SKU Search (Single)</h2></a>
        </div>
        <div class="uk-modal-body">
          {{! search form***********************}}
          <form class="uk-form-horizontal uk-margin-large">
            <div class="uk-margin">
              <label
                class="uk-form-label"
                for="form-horizontal-text"
              >Client</label>
              <div class="uk-form-controls">
                <div class="uk-form-controls" id="userSelect">
                  <select
                    class="uk-select"
                    id="form-horizontal-select"
                    onchange="skuListing()"
                  >
                    <option value="0">select client</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="uk-margin">
              <label class="uk-form-label" for="form-horizontal-select">SKU
                select</label>
              <div class="uk-form-controls" id="skuSelect">
                <select class="uk-select" id="form-horizontal-select">
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="uk-modal-footer uk-text-right">
          <button
            class="uk-button uk-button-default uk-modal-close"
            type="button"
          >Cancel</button>
          <a
            href="#searchResult"
            class="uk-button uk-button-primary"
            uk-toggle
            onclick="searchBySku()"
          >Search</a>
        </div>
      </div>
    </div>
    {{! search outcome }}
    <div id="searchResult" uk-modal>
      <div class="uk-modal-dialog">
        <button
          class="uk-modal-close-default"
          type="button"
          uk-close
          onclick="location.reload()"
        ></button>
        <div class="uk-modal-header">
          <h2 class="lead text-center">Search Result:
            <b><span id="searchNumber"></span></b>
            Items</h2>
        </div>
        <div class="uk-modal-body">
          <table
            class="uk-table uk-table-small uk-table-divider bg-light shadow"
            id="skuResult"
          >
            <thead>
              <tr>
                <th>container/sku</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
        <div class="uk-modal-footer uk-text-right">
          <button
            class="uk-button uk-button-default uk-modal-close"
            type="button"
          >Cancel</button>
          <a
            href="#modal-skuSearch"
            class="uk-button uk-button-primary"
            uk-toggle
            onclick="unattachTr()"
          >Return</a>
        </div>
      </div>
    </div>
    {{! bulk search }}
    <div id="modal-bulkSearch" uk-modal>
      <div class="uk-modal-dialog">
        <button
          class="uk-modal-close-default"
          type="button"
          uk-close
          onclick="location.reload()"
        ></button>
        <div class="uk-modal-header">
          <a href="#modal-skuSearch" uk-toggle><h2
              class="lead text-center"
              onclick="removeBulkHistory()"
            >SKU Search (Bulk)</h2></a>
        </div>
        <div class="uk-modal-body">
          <form class="uk-form-horizontal uk-margin-large">
            <div class="container">
              <div class="row" id="collection">
              </div>
            </div>
            <div class="uk-margin">
              <label class="uk-form-label" for="form-horizontal-select">SKU
                select</label>
              <div class="uk-form-controls" id="bulkSelect">
                <select
                  class="uk-select"
                  id="form-horizontal-select"
                  onchange="skuCollection()"
                >
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="uk-modal-footer uk-text-right">
          <a
            href="/amazon_overview/"
            uk-icon="icon: file-text"
            uk-tooltip="view all sku inventory"
            id="masterSkuOverview"
          ></a>
          <button
            class="uk-button uk-button-default uk-modal-close"
            type="button"
          >Cancel</button>
          <a
            href="#bulkSearchResult"
            class="uk-button uk-button-primary"
            uk-toggle
            onclick="searchByBulkSku()"
          >Search</a>
        </div>
      </div>
    </div>
    {{! bulk search outcome }}
    <div id="bulkSearchResult" class="uk-modal-container" uk-modal>
      <div class="uk-modal-dialog">
        <button
          class="uk-modal-close-default"
          type="button"
          uk-close
          onclick="location.reload()"
        ></button>
        <div class="uk-modal-header">
          <h2 class="lead text-center">Search Result</h2>
        </div>
        <div class="uk-modal-body">
          <table
            class="uk-table uk-table-small uk-table-divider bg-light shadow"
            id="bulkResult"
          >
            <thead>
              <tr>
                <th>container/sku</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
        <div class="uk-modal-footer uk-text-right">
          <button
            class="uk-button uk-button-default uk-modal-close"
            type="button"
          >Cancel</button>
          <a
            href="#modal-bulkSearch"
            class="uk-button uk-button-primary"
            uk-toggle
            onclick="resetBulkResult()"
          >Return</a>
        </div>
      </div>
    </div>
    {{! modal- for sku search ***********************}}
    <div id="advanceHide">
      <div
        class="badge bg-success shadow-sm"
        id="badge"
        onclick="modeChange()"
      ><span id="mode">C</span> Mode</div>
      <form class="uk-search uk-search-large" id="boxInput">
        <span uk-search-icon></span>
        <input
          class="uk-search-input"
          type="search"
          placeholder="China Box Search"
          id="myBoxInput"
          onkeyup="box_searching()"
        />
      </form>
      <form
        class="uk-search uk-search-large"
        id="containerInput"
        style="display: none;"
      >
        <span uk-search-icon></span>
        <input
          class="uk-search-input"
          type="search"
          placeholder="Amazon Box Search"
          id="myContainerInput"
          onkeyup="container_searching()"
        />
      </form>
    </div>
    {{! loader }}
    <div id="loader" style="display: none;">
      <h1 class="text-center">Updating <span id="numberOfItems"></span>...</h1>
      <div class="loader container"></div>
    </div>
    {{! notes }}
    <div class="container" id="boxTable" style="display: none;">
      <small id="searchNote" class="text-primary"></small>
      {{! box table }}
      <table
        class="uk-table uk-table-small uk-table-divider text-center bg-light shadow"
      >
        <thead>
          <tr>
            <th>Client</th>
            <th>Account</th>
            <th>Box number</th>
            <th>Item Description</th>
            <th>Box</th>
            <th>of Box</th>
            <th>Qty per Box</th>
            <th>Location</th>
            <th>Date</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody id="boxBody">
        </tbody>
      </table>
    </div>
    {{! notes 2 }}
    <div class="container" id="containerTable" style="display: none;">
      <small id="containerSearchNote" class="text-primary"></small>
      {{! contianer table }}
      <table class="uk-table uk-table-small uk-table-divider bg-light shadow">
        <thead>
          <tr>
            <th>Client</th>
            <th>Account</th>
            <th>Box number</th>
            <th>Item SKU</th>
            <th>Qty</th>
            <th>Location</th>
            <th>Date</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody id="containerBody">
        </tbody>
      </table>
    </div>
  </div>
  <script src="../javascript/admin_homepage.js"></script>
{{else}}
  <script src="javascript/client_redirect.js"></script>
  <img
    class="uk-align-center"
    src="https://i0.wp.com/wirthconsulting.org/wp-content/uploads/2018/02/forbidden1.jpg?w=346&ssl=1"
    alt=""
  />
{{/if}}
