{{#if admin}}
    <p class="uk-heading-line uk-text-right uk-margin-small-right"><span>logged in as <span class="uk-text-bold uk-label uk-label-success">{{name}}</span></span></p>

    <div class="container">
        <div>
            <a class="btn btn-outline-warning btn-sm shadow-sm"href="/admin/master_page">Master Page</a>
            <a href="/billing" class="btn btn-sm btn-outline-info shadow-sm"><b>₿</b>illing</a>
        </div>
    </div>



{{else}}
<script src="javascript/client_redirect.js"></script>
<img class="uk-align-center" src="https://i0.wp.com/wirthconsulting.org/wp-content/uploads/2018/02/forbidden1.jpg?w=346&ssl=1" alt="">
{{/if}}
