{{#if admin}}
<link rel="stylesheet" href="../css/admin_homepage.css">
    <p class="uk-heading-line uk-text-right uk-margin-small-right"><span>logged in as <span class="uk-text-bold uk-label uk-label-success">{{name}}</span></span></p>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" >Pending Count: <span id="pending_c"></span> </li>
                <li class="breadcrumb-item active" >Inventory Count: <span id="inventory_c"></span></li>
             </ol>
        </nav>
        <div>
            <a class="btn btn-outline-warning btn-sm shadow-sm" href="/admin/master_page">Master Page</a>
            <a class="btn btn-sm btn-outline-info shadow-sm" href="/billing"><b>₿</b>illing</a>
            <a class="btn btn-sm btn-outline-danger shadow-sm">Edit/Delete Items</a>
        </div>

    {{!-- <form class="uk-search uk-search-large">
        <span uk-search-icon></span>
        <input class="uk-search-input" type="search" placeholder="Search">
    </form> --}}

    {{!-- <div class="form-check">
  <input class="form-check-input" type="radio" name="account_checkbox" id="account_search" onclick="account_show()" checked>
  <label class="form-check-label" for="accountSearch">
   Account Search
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="box_checkbox" id="box_search" onclick="box_show()">
  <label class="form-check-label" for="boxSearch">
    Box Search (via box number)
  </label>
</div> --}}


  {{!-- <form class="uk-search uk-search-large" id="accountInput">
    <span uk-search-icon></span>
    <input class="uk-search-input" type="search" placeholder="帐号查找" id="myInput" onkeyup="filterFunction()">
  </form> --}}


  <form class="uk-search uk-search-large" id="boxInput">
    <span uk-search-icon></span>
    <input class="uk-search-input" type="search" placeholder="Box Search" id="myBoxInput" onkeyup="box_searching()">
  </form>
</div>

{{!-- <div class="container" id="myDropdown">
  {{#each accounts as |account|}}
  {{> account-data account }}
  {{else}}
    <h3 class="text-center">NO USER WAS FOUND!</h3>
  {{/each}}
</div> --}}
<div class="container" id="boxTable" style="display: none;">
  <small id="searchNote" class="text-primary"></small>
<table class="uk-table uk-table-small uk-table-divider text-center bg-light shadow">
            <thead>
                <tr>
                    <th>Client</th>
                    <th>Account</th>
                    <th>Box number</th>
                    <th >Item Description</th>
                    <th>Box</th>
                    <th>of Box</th>
                    <th>Qty per Box</th>
                    <th>Location</th>
                    <th >Date</th>
                    <th >Status</th>
                </tr>
            </thead>
            <tbody id="boxBody">

            </tbody>
      </table>

</div>

    </div>

<script src="../javascript/admin_homepage.js"></script>
{{else}}
<script src="javascript/client_redirect.js"></script>
<img class="uk-align-center" src="https://i0.wp.com/wirthconsulting.org/wp-content/uploads/2018/02/forbidden1.jpg?w=346&ssl=1" alt="">
{{/if}}
