{{#if admin}}
<p class="uk-heading-line uk-text-right uk-margin-small-right"><span>logged in as <span class="uk-text-bold uk-label uk-label-success">{{name}}</span></span></p>

 <div class="contaienr">
    <div class="row">
        <div class="uk-margin">
            <div class="uk-align-center col-4">
                <select class="uk-select inactive" id="client_list" onchange="client()">
                    <option value='0'>select client</option>
                </select>
            </div>
            <div class="uk-align-center col-4">
                <select class="uk-select" style="display: none;" id="account_list">
                    <option value='0'>select account</option>
                </select>
            </div>

            <div class="uk-align-center col-4">
                <a class="btn btn-outline-danger" onclick="next()">Proceed</a>
            </div>
        </div>
    </div>
</div>

</div>

        <table class="uk-table uk-table-small uk-table-divider myTable" id="myTable">
            <thead>
                <tr>
                    <th onclick="sortTable(0)">User</th>
                    <th onclick="sortTable(1)">Account</th>
                    <th>Box number</th>
                    <th onclick="sortTable(3)">Item Description</th>
                    <th onclick="sortTable(9)">Received Date</th>
                    <th>Ending Date</th>
                    <th>Volume</th>
                    <th>Billable Days</th>
                    <th>Cost</th>
                </tr>
            </thead>
            <tbody id="cell_table">
            </tbody>
        </table>
</div>




<script src="javascript/billing_main.js"></script>
{{else}}
<script src="javascript/client_redirect.js"></script>
{{/if}}
