{{#if admin}}
<p class="uk-heading-line uk-text-right uk-margin-small-right"><span>logged in as <span class="uk-text-bold uk-label uk-label-success">{{name}}</span></span></p>

 <div class="container">
    <div class="row justify-content-center">
            <div class="col-3">
                <select class="uk-select" id="client_list" onchange="client()">
                    <option value='0'>select client</option>
                </select>
            </div>
            <div class="col-3">
                <select class="uk-select" id="account_list" onchange="account()" disabled>
                    <option value='0'>select account</option>
                </select>
            </div>

            <div class="col-3">
                <select class="uk-select" id="month_list" onchange="month()" disabled>
                    <option value='0'>select billing month</option>
                    <option value='1'>January</option>
                    <option value='2'>February</option>
                    <option value='3'>March</option>
                    <option value='4'>April</option>
                    <option value='5'>May</option>
                    <option value='6'>June</option>
                    <option value='7'>July</option>
                    <option value='8'>August</option>
                    <option value='9'>September</option>
                    <option value='10'>October</option>
                    <option value='11'>November</option>
                    <option value='12'>December</option>
                </select>
            </div>
            <div class="col-3">
            <button class="btn btn-outline-primary" type="button" id="proceed_btn" onclick="next()" disabled>Proceed</button>
            </div>
    </div>
</div>

</div>

        <table class="uk-table uk-table-small uk-table-divider myTable" id="myTable" style="display: none;">
            <thead>
                <tr>
                    <th onclick="sortTable(0)">User</th>
                    <th onclick="sortTable(1)">Account</th>
                    <th>Box number</th>
                    <th onclick="sortTable(3)">Item Description</th>
                    <th onclick="sortTable(9)">Received Date</th>
                    <th>Ending Date</th>
                    <th>Volume</th>
                    <th>Billable Days</th>
                    <th>Cost</th>
                </tr>
            </thead>
            <tbody id="cell_table">
            </tbody>
        </table>
</div>




<script src="javascript/billing_main.js"></script>
{{else}}
<script src="javascript/client_redirect.js"></script>
{{/if}}
