{{#if admin}}
  <p class="uk-heading-line uk-text-right uk-margin-small-right"><span>logged in
      as
      <span
        class="uk-text-bold uk-label uk-label-success"
      >{{name}}</span></span></p>

  {{! <div class="uk-flex uk-flex-center@m uk-flex-right@l uk-margin-small-right mb-2">
<a href="/admin_receiving_main" class="uk-button-small uk-button-default">Auto Receiving</a>
</div> }}

  <div class="input-group mb-3 container">
    <div class="input-group-prepend">
      <span
        class="input-group-text"
        id="basic-addon1"
        uk-tooltip="
        1. 先扫描货架条码
        2. 持续扫描每个货箱条码
        3. 如要换货架，请重复步骤ㄧ"
      >AUTO</span>
    </div>
    <input
      type="text"
      class="form-control"
      id="scanned_obj"
      placeholder="SCAN TO ASSIGN"
      aria-label="Username"
      aria-describedby="basic-addon1"
      onkeyup="delay(location_update)"
    />
  </div>

  <div class="uk-text-center">
    <h1 class="uk-heading-bullet">Now Allocating:</h1>
    <ol id="inserted_obj">
    </ol>
  </div>

  <script src="javascript/auto_relocate.js"></script>
{{else}}
  <script src="javascript/client_redirect.js"></script>
{{/if}}
