{{#if admin}}
<p class="uk-heading-line uk-text-right uk-margin-small-right"><span>logged in as <span class="uk-text-bold uk-label uk-label-success">{{name}}</span></span></p>

<div class="uk-flex uk-flex-center@m uk-flex-right@l uk-margin-small-right mb-2">
<a href="/admin_move" class="rounded uk-button-small uk-button-primary">Manual Handling</a>
</div>



<div class="container">
<div class="row text-center">


  {{#each data as |box|}}
    {{> requested-card box }}
  {{/each}}


</div>
</div>


<script src="javascript/admin_ship.js"></script>
{{else}}
<script src="javascript/client_redirect.js"></script>
{{/if}}
