{{#if admin}}
<p class="uk-heading-line uk-text-right uk-margin-small-right"><span>logged in as <span class="uk-text-bold uk-label uk-label-success">{{name}}</span></span></p>

<div class="uk-flex uk-flex-center@m uk-flex-right@l uk-margin-small-right mb-2">
<a href="/admin_move" class="rounded uk-button-small uk-button-primary">Manual Handling</a>
</div>

<div class="container">
<div class="row">

<div class="card col-4">
  <div class="card-body">
        <h5 class="card-title">Request #1 from {User}</h5>
        <p class="card-text">Box_Number | Location</p>
  </div>

   <ul class="list-group list-group-flush">
        <li class="list-group-item"># | A2-1</li>
        <li class="list-group-item"># | A2-1</li>
        <li class="list-group-item"># | A2-1</li>
  </ul>

    <div class="card-body">
        <a href="#" class="btn btn-secondary">pdf file</a>
        <a href="#" class="btn btn-primary">proceed</a>
    </div>

</div>

<div class="card col-4">
  <div class="card-body">
        <h5 class="card-title">Request #2 from {User}</h5>
        <p class="card-text">Box_Number | Location</p>
  </div>

   <ul class="list-group list-group-flush">
        <li class="list-group-item"># | A2-1</li>
        <li class="list-group-item"># | A2-1</li>
        <li class="list-group-item"># | A2-1</li>
  </ul>

    <div class="card-body">
        <a href="#" class="btn btn-secondary">pdf file</a>
        <a href="#" class="btn btn-primary">proceed</a>
    </div>

</div>

<div class="card col-4">
  <div class="card-body">
        <h5 class="card-title">Request #3 from {User}</h5>
        <p class="card-text">Box_Number | Location</p>
  </div>

   <ul class="list-group list-group-flush">
        <li class="list-group-item"># | A2-1</li>
        <li class="list-group-item"># | A2-1</li>
        <li class="list-group-item"># | A2-1</li>
  </ul>

    <div class="card-body">
        <a href="#" class="btn btn-secondary">pdf file</a>
        <a href="#" class="btn btn-primary">proceed</a>
    </div>

</div>

<div class="card col-4">
  <div class="card-body">
        <h5 class="card-title">Request #4 from {User}</h5>
        <p class="card-text">Box_Number | Location</p>
  </div>

   <ul class="list-group list-group-flush">
        <li class="list-group-item"># | A2-1</li>
        <li class="list-group-item"># | A2-1</li>
        <li class="list-group-item"># | A2-1</li>
  </ul>

    <div class="card-body">
        <a href="#" class="btn btn-secondary">pdf file</a>
        <a href="#" class="btn btn-primary">proceed</a>
    </div>

</div>


</div>
</div>


<script src="javascript/admin_ship.js"></script>
{{else}}
<script src="javascript/client_redirect.js"></script>
{{/if}}
