<div class="uk-overflow-auto">
<p class="uk-heading-line uk-text-right uk-margin-small-right"><span>logged in as <span class="uk-text-bold uk-label uk-label-success">{{name}}</span></span></p>
<div class="uk-margin uk-overflow-auto">
<div class="uk-margin">
    <nav class="uk-navbar-container" >
        <div class="uk-navbar-right uk-child-width-expand@s">
            <div class="uk-navbar-item">
            <div class="uk-grid-small uk-child-width-auto uk-grid">
                <label><input class="uk-radio" type="radio" value='1' name="radio2" onclick="status_trigger(1)" checked>All</label>
                <label><input class="uk-radio" type="radio" value='2' name="radio2" onclick="status_trigger(2)">Pending</label>
                <label><input class="uk-radio" type="radio" value='3' name="radio2" onclick="status_trigger(3)">Received</label>
                <label><input class="uk-radio" type="radio" value='4' name="radio2" onclick="status_trigger(4)">Requested</label>
                <label><input class="uk-radio" type="radio" value='5' name="radio2" onclick="status_trigger(5)">Shipped</label>
            </div>
            </div>
            <div class="uk-navbar-item">
    <form class="uk-search uk-search-default">
        <span uk-search-icon></span>
        <input class="uk-search-input form-control search-input" type="search" placeholder="Search" data-table="myTable">
    </form>
            </div>
        </div>
    </nav>
    </div>
</div>
        <table class="uk-table uk-table-small uk-table-divider myTable" id="myTable">
            <thead>
                <tr>
                    <th onclick="sortTable(0)">Account</th>
                    <th>Box number</th>
                    <th onclick="sortTable(2)">Item Description</th>
                    <th>Box</th>
                    <th>of Box</th>
                    <th>Qty per Box</th>
                    <th>SKU</th>
                    <th>Volume</th>
                    <th onclick="sortTable(8)">Date</th>
                    <th>Tracking</th>
                    <th onclick="sortTable(10)">Status</th>
                </tr>
            </thead>
            <tbody>

{{#each boxes as |box|}}

{{> box-data box }}

{{else}}

{{#if admin}}
<h3 class="text-center uk-text-bold">Loading admin files...</h3>
{{else}}
<h3 class="text-center">NO ORDER WAS FOUND!</h3>
{{/if}}

{{/each}}

            </tbody>
        </table>
    </div>
<script>
        (function(document) {
            'use strict';

            var TableFilter = (function(myArray) {
                var search_input;

                function _onInputSearch(e) {
                    search_input = e.target;
                    var tables = document.getElementsByClassName(search_input.getAttribute('data-table'));
                    myArray.forEach.call(tables, function(table) {
                        myArray.forEach.call(table.tBodies, function(tbody) {
                            myArray.forEach.call(tbody.rows, function(row) {
                                var text_content = row.textContent.toLowerCase();
                                var search_val = search_input.value.toLowerCase();
                                row.style.display = text_content.indexOf(search_val) > -1 ? '' : 'none';
                            });
                        });
                    });
                }

                return {
                    init: function() {
                        var inputs = document.getElementsByClassName('search-input');
                        myArray.forEach.call(inputs, function(input) {
                            input.oninput = _onInputSearch;
                        });
                    }
                };
            })(Array.prototype);

            document.addEventListener('readystatechange', function() {
                if (document.readyState === 'complete') {
                    TableFilter.init();
                }
            });

        })(document);
    </script>
<script src="javascript/table.js"></script>
<script src="javascript/home.js"></script>
{{#if admin}}
<script src="javascript/admin_redirect.js"></script>
{{/if}}
