<div class="uk-overflow-auto">
<p class="uk-heading-line uk-text-right uk-margin-small-right"><span>logged in as <span class="uk-text-bold uk-label uk-label-success">{{name}}</span></span></p>
        <table class="uk-table uk-table-small uk-table-divider" id="myTable">
            <thead>
                <tr>
                    <th onclick="sortAccount()">Account</th>
                    <th>Box number</th>
                    <th>Item Description</th>
                    <th>Box</th>
                    <th>of Box</th>
                    <th>Qty per Box</th>
                    <th>SKU</th>
                    <th>Volume</th>
                    <th onclick="sortDate()">Date</th>
                    <th>Tracking</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>

{{#each boxes as |box|}}

{{> box-data box }}

{{else}}

{{#if admin}}
<h3 class="text-center uk-text-bold">Loading admin files...</h3>
{{else}}
<h3 class="text-center">NO ORDER WAS FOUND!</h3>
{{/if}}

{{/each}}

            </tbody>
        </table>
    </div>

<script src="javascript/table.js"></script>

{{#if admin}}
<script src="javascript/admin_redirect.js"></script>
{{/if}}
