<div class="uk-overflow-auto">
<p class="uk-heading-line uk-text-right uk-margin-small-right"><span>logged in as <span class="uk-text-bold uk-label uk-label-success">{{name}}</span></span></p>
<div class="uk-margin uk-overflow-auto">

    <nav class="uk-navbar-container" >
    <div class="uk-navbar-left">
        <div class="uk-navbar-item uk-align-center">
            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                <label><input class="uk-radio" type="radio" value='1' name="radio2" onclick="status_trigger(1)" checked>All</label>
                <label><input class="uk-radio" type="radio" value='2' name="radio2" onclick="status_trigger(2)">Pending</label>
                <label><input class="uk-radio" type="radio" value='3' name="radio2" onclick="status_trigger(3)">Received</label>
                <label><input class="uk-radio" type="radio" value='4' name="radio2" onclick="status_trigger(4)">Requested</label>
                <label><input class="uk-radio" type="radio" value='5' name="radio2" onclick="status_trigger(5)">Shipped</label>
            </div>
            {{!-- <form>
        <div uk-form-custom="target: > * > span:first-child">
            <select>
                <option value="">Search Param...</option>
                <option value="0">Account</option>
                <option value="1">Box Number</option>
                <option value="6">SKU</option>
                <option value="8">Date</option>
                <option value="10">Status</option>
            </select>
            <button class="uk-button uk-button-default" type="button" tabindex="-1">
                <span></span>
                <span uk-icon="icon: chevron-down"></span>
            </button>
        </div>
    </form> --}}
    <form class="uk-search uk-search-default uk-align-center">
        <span uk-search-icon></span>
        <input class="uk-search-input" id="myInput" type="search" placeholder="Search by box number" onkeyup="filter()">
    </form>
</div>

    </div>
</nav>

</div>
        <table class="uk-table uk-table-small uk-table-divider" id="myTable">
            <thead>
                <tr>
                    <th onclick="sortTable(0)">Account</th>
                    <th>Box number</th>
                    <th>Item Description</th>
                    <th>Box</th>
                    <th>of Box</th>
                    <th>Qty per Box</th>
                    <th>SKU</th>
                    <th>Volume</th>
                    <th onclick="sortTable(8)">Date</th>
                    <th>Tracking</th>
                    <th onclick="sortTable(10)">Status</th>
                </tr>
            </thead>
            <tbody>

{{#each boxes as |box|}}

{{> box-data box }}

{{else}}

{{#if admin}}
<h3 class="text-center uk-text-bold">Loading admin files...</h3>
{{else}}
<h3 class="text-center">NO ORDER WAS FOUND!</h3>
{{/if}}

{{/each}}

            </tbody>
        </table>
    </div>

<script src="javascript/table.js"></script>

{{#if admin}}
<script src="javascript/admin_redirect.js"></script>
{{/if}}
