<p class="uk-heading-line uk-text-right uk-margin-small-right"><span>logged in as <span class="uk-text-bold uk-label uk-label-success">{{name}}</span></span></p>
<div class="uk-flex uk-flex-center@m uk-flex-right@l uk-margin-small-right mb-2">
<a href="/master" uk-icon="icon: ban"></a>
</div>


<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" >Pending Count 挂单总数: <span id="pending_c"></span> </li>
      <li class="breadcrumb-item active" >Inventory Count 库存量: <span id="inventory_c"></span></li>
    </ol>
  </nav>


  <div class="form-check">
  <input class="form-check-input" type="radio" name="account_checkbox" id="account_search" onclick="account_show()" checked>
  <label class="form-check-label" for="accountSearch">
   Account Search
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="box_checkbox" id="box_search" onclick="box_show()">
  <label class="form-check-label" for="boxSearch">
    Box Search (via box number)
  </label>
</div>


  <form class="uk-search uk-search-large" id="accountInput">
    <span uk-search-icon></span>
    <input class="uk-search-input" type="search" placeholder="帐号查找" id="myInput" onkeyup="filterFunction()">
  </form>


  <form class="uk-search uk-search-large" id="boxInput" style="display: none;">
    <span uk-search-icon></span>
    <input class="uk-search-input" type="search" placeholder="货品讯息查找" id="myBoxInput" onkeyup="box_searching()">
  </form>
</div>

<div class="container" id="myDropdown">
    {{!-- <div class="uk-child-width-1-2 uk-child-width-1-4@s uk-grid-match" uk-grid> --}}
        {{#each accounts as |account|}}
            {{> account-data account }}
            {{else}}
            {{#if admin}}
                <h3 class="text-center uk-text-bold">Loading admin files...</h3>
                {{else}}
                <h3 class="text-center">NO ORDER WAS FOUND!</h3>
            {{/if}}
        {{/each}}
    {{!-- </div> --}}
</div>
<div class="container" id="boxTable" style="display: none;">
  <small id="searchNote" class="text-primary"></small>
<table class="uk-table uk-table-small uk-table-divider text-center bg-light shadow">
            <thead>
                <tr>
                    <th>Account 帐户</th>
                    <th>Box number 箱码</th>
                    <th >Item Description 细目</th>
                    <th>Box</th>
                    <th>of Box</th>
                    <th>Qty per Box 物件量</th>
                    <th>SKU</th>
                    <th >Date 日期</th>
                    <th >Status 状态</th>
                </tr>
            </thead>
            <tbody id="boxBody">

            </tbody>
      </table>

</div>

{{#if admin}}
<script src="javascript/admin_redirect.js"></script>
{{else}}
<script src="javascript/homepage.js"></script>
{{/if}}
