{{#if admin}}
<link rel="stylesheet" href="css/table.css">
<link rel="stylesheet" href="css/loader.css">
<div class="uk-overflow-auto">
<p class="uk-heading-line uk-text-right uk-margin-small-right"><span>logged in as <span class="uk-text-bold uk-label uk-label-success">{{name}}</span></span></p>
<div class="uk-margin uk-overflow-auto">
<div class="container">
    {{!-- <nav class="uk-navbar-container" > --}}
        <div class="uk-navbar-right uk-child-width-expand@s">

            <div class="uk-navbar-item">
            <div class="uk-grid-small uk-child-width-auto uk-grid">
                <label><input id="radio" class="uk-radio" type="radio" value='1' name="radio2" onclick="status_trigger(1)">All</label>
                <label><input id="radio" class="uk-radio" type="radio" value='2' name="radio2" onclick="status_trigger(2)">Pending</label>
                <label><input id="radio" class="uk-radio" type="radio" value='3' name="radio2" onclick="status_trigger(3)">Received</label>
                <label><input id="radio" class="uk-radio" type="radio" value='4' name="radio2" onclick="status_trigger(4)">Requested</label>
                <label><input  id="radio"class="uk-radio" type="radio" value='5' name="radio2" onclick="status_trigger(5)">Shipped</label>
            </div>
            </div>

            <div class="uk-navbar-item">
            <button type="button" id='inventory_btn' class="btn btn-sm btn-light border-primary text-primary shadow-sm" onclick="status_trigger(6)" uk-tooltip="Inventory">
                Amazon Inventory: <b><span class="text-primary" id="numberOfInventory"></span></b>
            </button>
            </div>


            <div class="uk-navbar-item">
                <form class="uk-search uk-search-default">
                    <span uk-search-icon></span>
                    <input class="uk-search-input form-control search-input" type="search" placeholder="Search" data-table="myTable">
                 </form>
            </div>


        </div>
    {{!-- </nav> --}}
    </div>
</div>
    <div class="loader" id="loader"></div>
    <div class="container">
        <table class="uk-table uk-table-small uk-table-divider myTable shadow-sm" id="myTable" style="table-layout: fixed; width: 100%">
            <thead>
                <tr>
                    <th onclick="sortTable(0)">Client</th>
                    <th onclick="sortTable(1)">Account</th>
                    <th onclick="sortTable(2)">Box number</th>
                    <th onclick="sortTable(3)">SKU</th>
                    <th onclick="sortTable(4)">Qty</th>
                    <th onclick="sortTable(5)">Description</th>
                    <th onclick="sortTable(6)">Date</th>
                    <th onclick="sortTable(7)">Status</th>
                    <th onclick="sortTable(8)">Location</th>
                </tr>
            </thead>
            <tbody>
                {{#each containers as |container|}}
                {{> admin_container-data container }}
                {{else}}
                <h3 class="text-center">NO AMAZON BOX WAS FOUND!</h3>
                {{/each}}
            </tbody>
        </table>
    </div>
    </div>
<script>
        (function(document) {
            'use strict';

            var TableFilter = (function(myArray) {
                var search_input;

                function _onInputSearch(e) {
                    search_input = e.target;
                    var tables = document.getElementsByClassName(search_input.getAttribute('data-table'));
                    myArray.forEach.call(tables, function(table) {
                        myArray.forEach.call(table.tBodies, function(tbody) {
                            myArray.forEach.call(tbody.rows, function(row) {
                                var text_content = row.textContent.toLowerCase();
                                var search_val = search_input.value.toLowerCase();
                                row.style.display = text_content.indexOf(search_val) > -1 ? '' : 'none';
                            });
                        });
                    });
                }

                return {
                    init: function() {
                        var inputs = document.getElementsByClassName('search-input');
                        myArray.forEach.call(inputs, function(input) {
                            input.oninput = _onInputSearch;
                        });
                    }
                };
            })(Array.prototype);

            document.addEventListener('readystatechange', function() {
                if (document.readyState === 'complete') {
                    TableFilter.init();
                }
            });

        })(document);
    </script>
<script src="javascript/admin_amazon_home.js"></script>
{{else}}
<script src="javascript/client_redirect.js"></script>
<img class="uk-align-center" src="https://i0.wp.com/wirthconsulting.org/wp-content/uploads/2018/02/forbidden1.jpg?w=346&ssl=1" alt="">
{{/if}}
