{{#if admin}}
<div class="uk-overflow-auto">
<p class="uk-text-center"><span class="lead">To approve a shipping request from client(s), please select the box(es) from the table and confirm</span></p>
<p class="uk-heading-line uk-text-right uk-margin-small-right"><span>logged in as <span class="uk-text-bold uk-label uk-label-success">{{name}}</span></span></p>
      <a id="js-modal-confirm" class="uk-button uk-button-primary uk-align-right uk-margin-small-right uk-text-bold" value="Get Selected" onclick="GetSelected(2)">Confirm</a>
        <table class="uk-table uk-table-small uk-table-divider" id="myTable">
            <thead>
                <tr>
                    <th></th>
                    <th onclick="sortTable(1)">User</th>
                    <th onclick="sortTable(2)">Account</th>
                    <th onclick="sortTable(3)">Box number</th>
                    <th onclick="sortTable(4)">Item Description</th>
                    <th>Box</th>
                    <th>of Box</th>
                    <th>Qty per Box</th>
                    <th>SKU</th>
                    <th onclick="sortTable(9)">Location</th>
                    <th onclick="sortTable(10)">Date</th>
                    <th>Status</th>
                    <th>Tracking</th>
                    <th>File</th>
                </tr>
            </thead>
            <tbody>

{{#each boxes as |box|}}

{{> move-box box }}

{{else}}
<h3 class="text-center">NO REQUEST WAS FOUND!</h3>
{{/each}}

            </tbody>
        </table>
    </div>
<script src="javascript/cloud.js"></script>
<script src="javascript/admin_table.js"></script>
{{else}}
<script src="javascript/client_redirect.js"></script>
{{/if}}
