{{#if admin}}
<div class="uk-overflow-auto">
<p class="uk-text-center"><span class="lead">To approve a shipping request from client(s), please select the box(es) from the table and confirm</span></p>
<p class="uk-heading-line uk-text-right uk-margin-small-right"><span>logged in as <span class="uk-text-bold uk-label uk-label-success">{{name}}</span></span></p>
      <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-center">
        <div class="uk-navbar-item">
            <form class="uk-search uk-search-default">
                <span uk-search-icon></span>
                <input class="uk-search-input form-control search-input" type="search" placeholder="Search" data-table="myTable">
            </form>
        </div>

        <div class="uk-navbar-item">
           <a id="js-modal-confirm" class="uk-button uk-button-primary uk-align-right uk-margin-small-right uk-text-bold" value="Get Selected" onclick="GetSelected(2)">Approve</a>
        </div>
    </div>
</nav>
        <table class="uk-table uk-table-small uk-table-divider  myTable" id="myTable">
            <thead>
                <tr>
                    <th></th>
                    <th onclick="sortTable(1)">User</th>
                    <th onclick="sortTable(2)">Account</th>
                    <th onclick="sortTable(3)">Box number</th>
                    <th onclick="sortTable(4)">Item Description</th>
                    <th>Box</th>
                    <th>of Box</th>
                    <th>Qty per Box</th>
                    <th>SKU</th>
                    <th onclick="sortTable(9)">Location</th>
                    <th onclick="sortTable(10)">Requested Date</th>
                    <th>Status</th>
                    <th>File</th>
                </tr>
            </thead>
            <tbody>

{{#each boxes as |box|}}

{{> move-box box }}

{{else}}
<h3 class="text-center">NO REQUEST WAS FOUND!</h3>
{{/each}}

            </tbody>
        </table>
    </div>

<script src="javascript/admin_table.js"></script>
<script>
        (function(document) {
            'use strict';

            var TableFilter = (function(myArray) {
                var search_input;

                function _onInputSearch(e) {
                    search_input = e.target;
                    var tables = document.getElementsByClassName(search_input.getAttribute('data-table'));
                    myArray.forEach.call(tables, function(table) {
                        myArray.forEach.call(table.tBodies, function(tbody) {
                            myArray.forEach.call(tbody.rows, function(row) {
                                var text_content = row.textContent.toLowerCase();
                                var search_val = search_input.value.toLowerCase();
                                row.style.display = text_content.indexOf(search_val) > -1 ? '' : 'none';
                            });
                        });
                    });
                }

                return {
                    init: function() {
                        var inputs = document.getElementsByClassName('search-input');
                        myArray.forEach.call(inputs, function(input) {
                            input.oninput = _onInputSearch;
                        });
                    }
                };
            })(Array.prototype);

            document.addEventListener('readystatechange', function() {
                if (document.readyState === 'complete') {
                    TableFilter.init();
                }
            });

        })(document);
    </script>
{{else}}
<script src="javascript/client_redirect.js"></script>
{{/if}}
