{{#if admin}}
<p class="uk-heading-line uk-text-right uk-margin-small-right"><span>logged in as <span class="uk-text-bold uk-label uk-label-success">{{name}}</span></span></p>

<div class="container col-md-5 col-sm-8">
<div class="mb-2 card border-info p-2" uk-tooltip="Scan the targeted box first, then scan requested sku(s). If the client requested the whole box, scan the box twice to select all requested items" ><span class="lead">Notes:</span> <span id="notes"></spans></div>
<div id="alert" class="text-danger text-center"></div>
</div>

<form class="container shadow col-md-5 col-sm-8 p-2 py-3 mt-2">
<input type="text" class="form-control mb-3" id="scanned_item" placeholder="Scan..." aria-label="Username" aria-describedby="basic-addon1" onkeyup="delay(pre_check)">
<div class="row justify-content-center p-3">
  {{#each requests as |request|}}
    {{> preShipAmazonConfirmation request }}
  {{else}}
  <h1 class="lead">Great! You have completed all of the ship-out requests!</h1>
  <div class="col-4 uk-align-center mt-2">
    <a href="/" class="uk-button uk-button-default" uk-icon="home"></a>
  </div>
  {{/each}}
</div>
</form>

<script src="javascript/pre_ship_amazon.js"></script>
{{else}}
<script src="javascript/client_redirect.js"></script>
{{/if}}
