<button class="btn btn-danger" onclick="locationInit()">Location Insert</button>
<button class="btn btn-danger" onclick="init()">Create User</button>
<button class="btn btn-primary" onclick="userGet()">Create Account</button>
<button class="btn btn-warning" onclick="accountGet()">Create Container</button>
<button class="btn btn-danger" onclick="containerGet()">Create Items</button>
<button
  class="btn btn-primary"
  onclick="continueContainerInsert(0,400)"
>Compile_box 400</button>
<button
  class="btn btn-primary"
  onclick="continueContainerInsert(400,900)"
>Compile_box 900</button>
<button
  class="btn btn-primary"
  onclick="continueContainerInsert(900,1400)"
>Compile_box 1400</button>
<button
  class="btn btn-primary"
  onclick="continueContainerInsert(1400,1900)"
>Compile_box 1900</button>
<button class="btn btn-primary" onclick="continueItemInsert(0,400)">Compile_item
  400</button>
<button
  class="btn btn-primary"
  onclick="continueItemInsert(400,900)"
>Compile_item 900</button>
<button
  class="btn btn-primary"
  onclick="continueItemInsert(900,1400)"
>Compile_item 1400</button>
<button
  class="btn btn-primary"
  onclick="continueItemInsert(1400,1900)"
>Compile_item 1900</button>
<button
  class="btn btn-primary"
  onclick="continueItemInsert(1900, 2400)"
>Compile_item 2400</button>
<button
  class="btn btn-primary"
  onclick="continueItemInsert(2400, 3000)"
>Compile_item 3000</button>
<button
  class="btn btn-primary"
  onclick="continueItemInsert(3000, 3600)"
>Compile_item 3600</button>
<button
  class="btn btn-primary"
  onclick="continueItemInsert(3600, 4200)"
>Compile_item 4200</button>
<button
  class="btn btn-primary"
  onclick="continueItemInsert(4200, 4800)"
>Compile_item 4800</button>

<script src="javascript/rawData.js"></script>
