<link rel="stylesheet" href="css/loader.css">
<div class="uk-overflow-auto">
<p class="uk-heading-line uk-text-right uk-margin-small-right"><span>logged in as <span class="uk-text-bold uk-label uk-label-success">{{name}}</span></span></p>






{{!-- notes --}}
<div id="modal-sections" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header text-center">
            <h2 class="uk-modal-title">Notes</h2>
            <small class="text-secondary">character limit: <u><b>255</b> chars</u></small>
        </div>
        <div class="uk-modal-body">
           <textarea class="form-control" id="notes" placeholder="please provide speical instructions if any..." rows="10"></textarea>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button uk-button-primary uk-modal-close" type="button">Save</button>
        </div>
    </div>
</div>



<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-center">

        <div class="uk-navbar-item">
            <form class="uk-search uk-search-default">
                <span uk-search-icon></span>
                <input class="uk-search-input form-control search-input" type="search" placeholder="Search" data-table="myTable">
            </form>
        </div>

        <div class="uk-navbar-item">
            <div class="row">
            <div class="col">
                <label  class="text-danger" for="upload">** single file only. please <a href="https://www.adobe.com/acrobat/online/merge-pdf.html?mv=search&sdid=DZTGZX2P&ef_id=CjwKCAiA4KaRBhBdEiwAZi1zznW31ZEbYP5_983ypcnYvEV8_QCORYXWw-WDxx4fu6Yl4Da36JjyYhoCQWgQAvD_BwE:G:s&s_kwcid=AL!3085!3!559402382069!e!!g!!how%20to%20merge%20pdf%20files!13092672132!120630851685&cmpn=mobile-search&gclid=CjwKCAiA4KaRBhBdEiwAZi1zznW31ZEbYP5_983ypcnYvEV8_QCORYXWw-WDxx4fu6Yl4Da36JjyYhoCQWgQAvD_BwE">merge</a> prior to upload</label>
                  <div class="w-100"></div>
                <input type="file" class="custom-file-input" id="label" accept=".pdf, .doc, .docx">
            </div>
             <div class="w-100"></div>
            <div class="col">
                 <input class="form-check-input me-2" type="checkbox" value="" id="label_not_required" onclick="clear_file()"/>
            <label class="form-check-label" for="label_not_required">No file to attach</label>
            </div>
            </div>
        </div>

        <div class="uk-navbar-item">
            <a class="btn btn-sm btn-outline-primary" href="#modal-sections" uk-toggle>Attach Notes</a>
        </div>

        <a id="js-modal-confirm" class="btn btn-primary shadow-sm" value="Get Selected" onclick="validation_request()" uk-icon="arrow-right">Complete Request</a>

    </div>
</nav>

<div id="loader" style="display: none;">
    <h1 class="text-center">Uploading...</h1>
    <div class="loader container"></div>
</div>


    <div class="col">
        <table class="uk-table uk-table-small uk-table-divider myTable" id="myTable">
            <thead>
                <tr>
                    <th></th>
                    <th onclick="sortTable(1)">Account</th>
                    <th>Box number</th>
                    <th onclick="sortTable(3)">Item Description</th>
                    <th>Box</th>
                    <th>of Box</th>
                    <th>Qty per Box</th>
                    <th>SKU</th>
                    <th>Volume</th>
                    <th onclick="sortTable(9)">Received Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {{#each boxes as |box|}}
                    {{> select-box box }}
                {{else}}
                    <h3 class="text-center">NO ORDER WAS FOUND!</h3>
                {{/each}}
            </tbody>
        </table>
    </div>

<script>
        (function(document) {
            'use strict';

            var TableFilter = (function(myArray) {
                var search_input;

                function _onInputSearch(e) {
                    search_input = e.target;
                    var tables = document.getElementsByClassName(search_input.getAttribute('data-table'));
                    myArray.forEach.call(tables, function(table) {
                        myArray.forEach.call(table.tBodies, function(tbody) {
                            myArray.forEach.call(tbody.rows, function(row) {
                                var text_content = row.textContent.toLowerCase();
                                var search_val = search_input.value.toLowerCase();
                                row.style.display = text_content.indexOf(search_val) > -1 ? '' : 'none';
                            });
                        });
                    });
                }

                return {
                    init: function() {
                        var inputs = document.getElementsByClassName('search-input');
                        myArray.forEach.call(inputs, function(input) {
                            input.oninput = _onInputSearch;
                        });
                    }
                };
            })(Array.prototype);

            document.addEventListener('readystatechange', function() {
                if (document.readyState === 'complete') {
                    TableFilter.init();
                }
            });

        })(document);
    </script>
<script src="javascript/table.js"></script>
<script src="javascript/home.js"></script>
