{{#if admin}}
<p class="uk-heading-line px-4 uk-animation-slide-left"><a onclick="history.back()" uk-icon="icon: arrow-left" class="rounded-circle bg-success text-white" uk-tooltip="back to the previous page"></a></p>
<div class="container mt-4">
  <div class="row justify-content-md-center">
    <div class="col-lg-5 col-md-6 col-sm-10">
      <div>
        <h2 class="lead text-primary uk-animation-scale-up" uk-icon="icon: upload">SKU Labels Upload </h2>
      <form class="gy-2 gx-3 align-items-center">
      <div>
        <label class="uk-form-label" for="form-stacked-text">Targeted Client</label>
        <select class="uk-select" id="autoSizingSelect">
          <option value="0" selected>Choose...</option>
            {{#each users as |user|}}
              {{> userOption user }}
            {{/each}}
        </select>
      </div>
      <div class="uk-margin" uk-margin>
         <div uk-form-custom="target: true">
            <input type="file" id="label" accept="image/*, .pdf" multiple>
            <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file(s)" disabled>
        </div>
        <a class="uk-button uk-button-default" id="uploadBtn" onclick="trigger()">Upload</a>
        <a class="uk-button uk-button-secondary" id="fake" type="button" disabled style="display: none;">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading...
        </a>
      </div>
      </form>
      </div>
      <hr>
      <div>
        <h2 class="lead text-primary uk-animation-scale-up" uk-icon="icon: git-fork">SKU Linking </h2>
        <form>
         <div class="form-group">
            <label class="uk-form-label" for="form-stacked-text">Old SKU Groups</label>
            <textarea class="form-control" id="oldskugroups" rows="2" onkeyup="formateCheck()" placeholder="OldSku1, OldSku2, OldSku3..."></textarea>
          </div>
          <div class="form-group mt-2">
            <label class="uk-form-label" for="form-stacked-text">New SKU Groups</label>
            <textarea class="form-control" id="newskugroups" rows="2" onkeyup="formateCheck()" placeholder="NewSku1, NewSku2, NewSku3..."></textarea>
          </div>
          <div class="uk-margin" uk-margin>
              <a class="uk-button uk-button-danger" id="mapBtn" onclick="mapping()">Link</a>
              <a class="uk-button uk-button-secondary" id="fake_map" type="button" disabled style="display: none;">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Mapping...
              </a>
          </div>
        </form>
      </div>
    </div>
    <div class="col-lg-7 col-md-6 col-sm-10">
  <table class="table table-sm table-striped" style="table-layout: fixed; width: 100%">
  <thead>
    <tr>
      <th scope="col"><b>Client</b></th>
      <th scope="col"><b>Ref #</b></th>
      <th scope="col"><b>File</b></th>
      <th scope="col"><b>Date</b></th>
      <th scope="col" class="text-danger"><b><u><a onclick="withAuth()" uk-tooltip="Enter the passcode to activate single delete function; enter the reversed code to clear out all SKU files">Delete</a></u></b></th>
    </tr>
  </thead>
  <tbody>
    {{#each documents as |document|}}
        {{> documentList document }}
    {{/each}}
  </table>
    </div>
  </div>
</div>
  <script src="javascript/sku_modification.js"></script>
{{else}}
  <script src="javascript/client_redirect.js"></script>
{{/if}}
