@media print {
    #nav_bar {
        display: none;
    }
    #barcode_btn {
        display: none;
    }
    #box_bar {
        page-break-before: always;
    }
    img {
        display: block;
        page-break-before: auto;
        page-break-after: auto;
        page-break-inside: avoid;
    }
}
@page {
    size: auto;
}
